/* Main Background Image on Each Page */

body {
    background-image: url('img/the-vampire-diaries-07.jpg');
}


/* Styling for description on spinoffs page */

.orig {
    text-align: center;
    margin-left: 50px !important;
    margin-right: 50px !important;
}


/* Styling all non tab links */

a:not(#rev-table) {
    text-align: center;
    font-size: 30px;
    color: #C83EFF;
}


/* Styling for h2 titles */

h2 {
    text-align: center;
}


/* Styling for all text inputs, mainly contact page */

input {
    border-radius: 5px;
    margin-left: 5px;
}


/* Container For Creature Types Page*/

.review-container {
    margin-left: 100px;
    margin-right: 100px;
}


/* Container For Creature Types Page*/

.plot {
    margin-left: 100px;
    margin-right: 100px;
}


/* Link Styling */

h1 {
    text-align: center;
}


/* Styling For Character Descriptions */

.desc {
    float: right;
    position: relative;
    left: 100px;
    margin-left: 100px;
    margin-right: 180px;
}


/*Image Styline Except Icons On Alert and Home Page Image*/

img:not(.warn):not(.banner) {
    position: relative;
    right: 100px;
    margin-right: 100px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    float: left;
}

.banner {
    position: relative;
    left: 160px;
    margin-top: 10px;
    border-radius: 15px;
}

/* Page Header Styles */

.page-header {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-style: italic;
}


/* Style For Alert On Home Page */

.myalert {
    border-radius: 15px;
    background-color: #F08080;
    color: #FF003F;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Style For Character Page */

#actors {
    margin-top: 20px !important;
}

#welcome {
    border-radius: 25px;
    color: #D8BFD8;
    background-color: #8B0000;
    margin-left: 100px;
    margin-right: 140px;
    font-style: italic;
    position: sticky;
    width: 1100px;
    height: 400px;
    font-weight: bold;
    margin-bottom: 100px;
    opacity: 0.9;
}


/* Page Styles */

.tabcontent:not(#welcome) {
    margin-top: 10px;
    border-radius: 25px;
    color: #D8BFD8;
    background-color: #8B0000;
    margin-left: 100px;
    margin-right: 140px;
    font-style: italic;
    position: sticky;
    width: 1100px;
    height: 2200px;
    font-weight: bold;
    margin-bottom: 100px;
    opacity: 0.9;
}


/* Style the tab */

.tab, .tab button {
    overflow: hidden;
    border: 1px solid #AE3EFF;
    background-color: #FF4746;
    border-radius: 5px;
    color: white;
    border: none;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #F08080;
    color: white;
    border: none;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #AE3EFF;
}


/* Style the tab content */

.tabcontent:not(#welcome) {
    display: none;
}