#critica{
    background-color: white;
     color: darkred;
     
 }
 
 #critics p {
 padding: 20px;
 font-size: 18px;
 text-align: justify;
 color: black;
 }
 
 #critics>div {
     margin-bottom: 50px;
     column-count: auto;
     column-width: 350px;
     column-rule: 1px solid rgb(150, 150, 150);
     width: 90vw;
     max-width: 1200px;
 }
 
 #author-critics {
     color: rgb(199, 199, 199);
     font-size: 16px;
 }
 
 #author-critics a {
     color: rgb(199, 199, 199);
 }