#gallery {
    background-color: black;
}

#container-gallery {
    display: grid;
    max-width: 1200px;
    width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 10px;
    grid-auto-flow: row dense;
    background-color: darkred;
    border: 10px solid darkred;
}

.item-gallery {
    background-size: cover;
    background-position: 50% 50%;
}

#gallery h3 {
    color: darkred;
    }