@import "universal.css";

main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

ul {
    list-style: none;;
}

div {
    height: 500px;
    max-width: 800px;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    align-self: center;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
}

a:hover {
    background-color:darkred;
}

#actor1-main {
    background-image: url("https://i.pinimg.com/originals/ca/1b/4b/ca1b4be4b19267b5d43bf49ff7bf18db.jpg");
    background-position: 50% 50%;
}

#actor2-main {
    background-image: url("http://images5.fanpop.com/image/photos/31200000/the-vampire-diaries-beautiful-elena-the-vampire-diaries-31277227-510-769.jpg");
    background-position: 50% 50%;
    
}    


#actor3-main {
    background-image: url("https://ewedit.files.wordpress.com/2015/01/vampire-diaries_l-1-1.jpg");
    background-position: 50% 50%;
}

@media screen and (min-width: 900px) {
    #actor1-main {
        background-size: contain;
        background-position-x: 45%;
        background-color: black;
    }
    #actor2-main{
        background-size: contain;
        background-position-x: 45%;
        background-color: white;
    }
    #actor3-main{
        background-size: contain;
        background-position-x: 45%;
        background-color: black;
    }
}