@import "universal.css";

main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

ul {
    list-style: none;;
}

div {
    height: 500px;
    max-width: 800px;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    align-self: center;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
}

a:hover {
    background-color:darkred;
}

#actor1-main {
    background-image: url("../img/40\ Best\ Portrait\ Photography\ Poses\ for\ Men\ -\ Machovibes.jpeg");
    background-position: 50% 50%;
}

#actor2-main {
    background-image: url("../img/The\ Vampire\ Diaries\,\ Nina\ Dobrev\,\ TV\ Show\,\ 2018\,\ 1080x2160\ wallpaper.jpeg");
    background-position: 50% 50%;
    
}    


#actor3-main {
    background-image: url("../img/The\ Vampire\ Diaries\ Poster_\ 30+\ Printable\ Posters\ \(Free\ Download\).jpeg");
    background-position: 50% 50%;
}

@media screen and (min-width: 900px) {
    #actor1-main {
        background-size: contain;
        background-position-x: 45%;
        background-color: black;
    }
    #actor2-main{
        background-size: contain;
        background-position-x: 45%;
        background-color: white;
    }
    #actor3-main{
        background-size: contain;
        background-position-x: 45%;
        background-color: black;
    }
}