#trailer{
    background-color: darkred;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position-x: -400px;
    color: black;
}

#trailer div{
    width: 100vw;
    height: 56.25vw;
    max-width: 800px;
    max-height: 450px;
    margin-bottom: 50px;
    border: 5px solid white;
}